<html>
<head>
    <title>{{title}}</title>
</head>
<body style="font-family:Arial; font-size:18px;">
    <h1>{{title}}</h1>
    <p>
        <b>Te hemos generado un acceso temporal.</b>
        <br>
        <a href="http{s}://{{dominio}}:{{puerto}}/Email/{{token}}/{{email}}">Pulsa este enlace para acceder</a>
        <br>
    <p><b>O copia y pega en tu navegador esta URL es caso de dificultades:</b></p>
    <br>
    <p> http://{{dominio}}:{{puerto}}/Email?token={{token}}&email={{email}}</p>
</body>
</html> 